.btn
{
    width: 250px;
    background: whitesmoke;
    color: green;
    margin: 200;
    padding: 20px;
    border: none;
    border-radius: 30px;
    font-weight: 800;
}

.btn:hover
{
    border-top: 6px solid red;
    border-bottom: 6px solid green;
    border-left: 6px solid red;
    border-right: 6px solid green;
}

body
{
   width : 60%;
}

div.margin
{
    height:50px
}
